* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.header {
  background-color: #0a4cc5;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 101px;
}

.nav__logo {
  color: #ffffff;
  font-size: 36px;
  font-family: "Bebas Neue", sans-serif;
}

.nav__list {
  padding: 0px;
  display: flex;
  gap: 12px;
}

.nav__card {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.nav__link {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  justify-content: space-between;
}

.space {
  background-color: #ffffff;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
}

.inicio {
  background-image: url(./img/rodamientos\ fondo\ web.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.inicio__contenedor {
  background-color: #ed7b26;
  width: 75%;
  height: 175px;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio__titulo {
  color: #1d242d;
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  margin: 0;
}

.subtitulo__eslogan {
  color: #1d242d;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 0;
}

.portafolio {
  background-color: #0a4cc5;
  width: 100%;
  height: 400px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container {
  width: 80%;
  height: 350px;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portafolio__productos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portafolio__titulo {
  margin: 0px 0px 8px 0px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 2px;
}

.productos {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #1d242d;
  box-shadow: insert 3px 3px 8px #1d242d;
  backdrop-filter: blur(10px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rodamientos {
  background-image: url(./img/portafolio__rodamentos.webp);
}

.chumaceras {
  background-image: url(./img/portafolio__chumaceras.png);
}

.poleas {
  background-image: url(./img/portafolio_polea.png);
}

.retenedores {
  background-image: url(./img/portafolio_retenedores.png);
}

.hacer {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hacer__contenedor {
  background-image: url(./img/rodamientos\ fondo\ web.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: absolute;
}

.hacer_contenido {
  background-color: #ed7b26;
  width: 600px;
  height: 550px;
  z-index: 10;
  opacity: 90%;
  margin-right: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenido_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 18px;
  padding: 50px;
}

.contenido__titulo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 45px;
  color: #1d242d;
  letter-spacing: 1px;
}

.contenido__texto {
  color: #1d242d;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 0;
  letter-spacing: 0px;
}

.button__contenido {
  width: 200px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #1d242d;
  font-size: 15px;
  border: none;
}

.elegirnos {
  background-color: #0a4cc5;
  width: 100%;
  height: 450px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  gap: 10px;
}

.elegirnos__texto {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  gap: 0px;
}

.elegirnos__titulo {
  padding: 0px;
  height: 135px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 150px;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  letter-spacing: 8px;
}

.elegirnos__subtitulo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 55px;
  color: #ffffff;
  letter-spacing: 1px;
}

.elegirnos__texto {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
}

.elementos {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elementos__elegirnos {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.elemento__experiencia {
  width: 50px;
  height: 50px;
  background-image: url(./img/icon_01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.elemento__variedad {
  width: 50px;
  height: 50px;
  background-image: url(./img/icon_02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.elemento__precios {
  width: 50px;
  height: 50px;
  background-image: url(./img/icon_03.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.elemento__envios {
  width: 50px;
  height: 50px;
  background-image: url(./img/icon_04.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.elementos_texto {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

.medidor {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medidor__contenedor {
  background-image: url(./img/rodamientos\ fondo\ web.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.medidor__contenido {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 260px;
}

.medidor__block {
  background-color: #ed7b26;
  height: 450px;
  z-index: 10;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block__texto {
  width: 440px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.medidor__texto {
  gap: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #1d242d;
  text-align: center;
}

.medidor__rodamientos {
  background-color: #ed7b26;
  width: 200px;
  height: 212px;
  z-index: 10;
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #1d242d;
  box-shadow: insert 3px 3px 8px #1d242d;
}

.rodamientos__texto {
  color: #1d242d;
  padding: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.contactanos {
  background-color: #0a4cc5;
  width: 100%;
  height: 450px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}

.contactanos__head {
  width: 80%;
  height: 80px;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactanos__line {
  width: 100%;
  height: 2px;
  background-color: white;
}

.contactanos__titulo {
  padding: 0px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 80px;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  letter-spacing: 8px;
  margin-right: -8px;
}

.contactanos__main {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.contactanos__formulario {
  color: #ffffff;
  width: 50%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  gap: 25px;
}

.contactanos__comunicacion {
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.comunicacion__llamada {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.llamada__icono {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  background-image: url(./img/contactanos__icono01.png);
}

.comunicacion__correo {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.correo__icono {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  background-image: url(./img/contactanos__icono02.png);
}

.comunicacion__texto {
  gap: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.formulario__cliente {
  background-color: #0a4cc5;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  gap: 25px;
}

.formulario {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.mensaje {
  height: 77px;
  align-items: flex-start;
}

.formulario__texto {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #1d242d;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-left: 10px;
}
.mensajes {
  margin-top: 10px;
}

.button__enviar {
  width: 200px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #1d242d;
  font-size: 15px;
  border: none;
}

.contactanos__ubicacion {
  width: 50%;
  height: 100%;
  flex-direction: column;
}

.ubicacion__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ubicacion {
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ubicacion__icono {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  background-image: url(./img/contactanos__icono03.png);
}

.ubicacion__texto {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.ubicacion__maps {
  height: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.maps__url {
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.iframe {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  border: none;
}

.copyright{
  background-color: #0a4cc5;
  width: 100%;
  height: 60px;
  display: flex;
  align-items:center ;
  justify-content: center;
  margin-top: 10px;
}

.copyright__tex{
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

.medidor__container{
  background-image: url(./img/rodamientos\ fondo\ web.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container__medidor{
  background-color: #ed7b26;
  width: 75%;
  height: 100px;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medidor__titulo{
  color: #1d242d;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  margin: 0;
}

.medidor__subtitulo {
  color: #1d242d;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 0;
}

.container__calculadora{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
}

.calculadora__container{
  width: 80%;
  height: 530px;
  background-color: #ed7b26;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 0px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0 #00000040, inset 0px 4px 4px 0 #00000040;
}

.calduladora__head{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  padding: 10px;
}

.titulo_tiporodamiento{
  color: #1d242d;
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  margin: 0;
}

.seleccion__rodamiento{
  width: 60%;
  height: 50px;
  border-radius: 5px;
  padding: 0px;
  border-color: #1d242d;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #1d242d;
  font-weight: normal;
  margin: 0;
}

.calculadora__ingresaMedidas{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.subtitulos__calculadora{
  color: #1d242d;
  font-size: 35px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  margin: 0;
  text-align: center;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingresaMedidas{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2px;
}

.ingresaMedidas__texto1{
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #1d242d;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.ingresaMedidas__texto2{
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #1d242d;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.container__numerico{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 5px;
}

.button__calcular{
  width: 200px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #1d242d;
  font-size: 15px;
  border: none;
  text-align: center;
}

.calculadora__resultado{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.resultado__calculadora{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.container__resultado{
  width: 150px;
  height: 95px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultado__text1{
  color: #1d242d;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.container__infoResultado{
  width: 150px;
  height: 130px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultado-_text2{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #1d242d;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.button__cotizar{
  width: 200px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #1d242d;
  font-size: 15px;
  border: none;
  text-align: center;
}






